body {
    text-align: center;
    background-color: #363a3d;
    color:white;
  }
  
  header {
    text-align: center;
  }
  
  h1 {
    text-align: center;
  }
  
  p {
    text-align: center;
  }
  
  a {
    text-align: center;
    color: blue;
    padding: 10px 20px;
    border-radius: 10px;
  }
  
  iframe {
    display: block;
    margin: 0 auto;
  }
  .link {
    color: black;
    margin-right: 10px;
  }
  
  .link-container a.active {
    color: red;
  }

 